<div class="ui placeholder segment">
  <div class="ui icon header">
  <h1 class="ui header mt-1">
    <i class="settings icon"></i>
    <div class="content">Preconfigurado: </div>
  </h1>
  </div>
  <ul class="ui horizontal bulleted link list">
    <%
      items = [
        'Sqlite to dev', 
        'PostgreSQL to production',
        'Semantic UI',
        'User management with devise',
        'Phusion Passenger'
      ]
    %>
    <% items.each do |item| %>
      <li class="item"><%= item %></li>
    <%end%>
  </ul>
</div>