<div class="ui centered grid">
  <div class="six wide tablet eight wide computer column">
    <h2 class="ui center aligned icon header"> Forgot your password? </h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'ui form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'fluid  red ui button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
