<div class="ui centered grid">
  <div class="six wide tablet eight wide computer column">
    <h2 class="ui center aligned icon header"><i class="circular user icon"></i> Sign in </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ui form'}) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <%= f.check_box :remember_me, class: 'hidden' %>
            <label>Remember me</label>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'fluid  red ui button' %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>

<script>
  $('.ui.checkbox').checkbox();
</script>