.rr.container {
  padding: 7rem 12vw 3vw;
}

.w-100 {
  width: 100%;
}

$propetys: (
  "p": "padding",
  "m": "margin"
);
@for $value from 0 through 5 {
  @each $letter, $propety in $propetys {
    .#{$letter}-#{$value} {
      #{$propety}: 0rem + $value !important;
    }
    .#{$letter}t-#{$value} {
      #{$propety}-top: 0rem + $value !important;
    }
    .#{$letter}b-#{$value} {
      #{$propety}-bottom: 0rem + $value !important;
    }
    .#{$letter}r-#{$value} {
      #{$propety}-right: 0rem + $value !important;
    }
    .#{$letter}l-#{$value} {
      #{$propety}-left: 0rem + $value !important;
    }
    .#{$letter}x-#{$value} {
      #{$propety}-right: 0rem + $value !important;
      #{$propety}-left: 0rem + $value !important;
    }
    .#{$letter}y-#{$value} {
      #{$propety}-top: 0rem + $value !important;
      #{$propety}-bottom: 0rem + $value !important;
    }
  }
}
